@import url('https://fonts.googleapis.com/css?family=Bitter');


body{
  background-color: lemonchiffon;
  font-family: 'Bitter', serif;
}

h2{
  color: firebrick;
  background-color: white;
  font-family: sans-serif;
}

h4{
  color: orangered;
}

a:hover{
  color: grey;
  text-decoration: underline;
}

a{
  text-decoration: none;
}

#name{
  color: orange;
  font-family: 'Shadows Into Light', cursive;
}

#address{
  color: firebrick;
}

#email{
  color: orange;
}

#phone{
  color: maroon;
}

#interests{
  font-family: cursive;
}

.links{
  color: red;
}

.work{
  color: coral;
}
